[user]
	name = Brendan Blackwood
	email = elderz@gmail.com
[core]
	excludesfile = /Users/reverbnation/.gitignore
	quotepath = false
	editor = subl --wait
[difftool "sourcetree"]
	cmd = "opendiff \"$LOCAL\" \"$REMOTE\""
  path =
[mergetool "sourcetree"]
	cmd = "/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\""
	trustExitCode = true
[alias]
  pd = !diff2html
  gd = !gist-diff
  info = !~/dev/helpers/git_info.sh
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
	autosetuprebase = always
[push]
	default = current
[color]
	ui = true
[color "status"]
	changed = magenta
	added = red
#	header
#	untracked
#	branch
#	nobranch
