[user]
	name = Brendan Blackwood
	email = elderz@gmail.com
	# signingkey = B5788312F4B346EC
[core]
	quotepath = false
	editor = subl --wait
[alias]
  pd = !diff2html
  gd = !gist-diff
  info = !~/dev/helpers/git_info.sh
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true
[push]
	default = current
[color]
	ui = true
[color "status"]
	changed = magenta
	added = red
#	header
#	untracked
#	branch
#	nobranch
[commit]
	# gpgsign = true
[init]
	defaultBranch = master